@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 243deg 76% 5%;
  --background: 240deg 60% 99%;
  --primary: 213deg 29% 36%;
  --secondary: 75deg 6% 87%;
  --accent: 212deg 54% 11%;
  /* Dark colors */
  --dark-foreground: 243deg 76% 95%;
  --dark-background: 240deg 60% 1%;
  --dark-primary: 213deg 29% 64%;
  --dark-secondary: 75deg 6% 13%;
  --dark-accent: 212deg 54% 89%;
}

body {
  font-family: var(--font-inter), sans-serif;
  font-style: normal;
}
